<fieldset class="cbi-section">
    <% if not next(self.status_data) then %>
    <legend class="error"><%:未检测到ME909S模块%></legend>
    <% else %>
    <legend><%:ME909S 模块状态%></legend>

   
    <div class="table">
        <div class="tr">
            <div class="td"><%:Manufacturer%></div><div class="td"><%= self.status_data.manufacturer %></div>
            <div class="td"><%:Model%></div><div class="td"><%= self.status_data.model %></div>
            <div class="td"><%= (self.status_data.simslot == "1") and "SIM" or "eSIM" %></div><div class="td"><%= self.status_data.sim %></div>
        </div>
        <div class="tr">
            <div class="td"><%:Operator%></div><div class="td"><%= self.status_data.operator %></div>
            <div class="td"><%:Mode%></div><div class="td"><%= self.status_data.mode %></div>
            <div class="td"><%:Band%></div><div class="td"><%= self.status_data.band %></div>
        </div>
        <div class="tr">
            <div class="td"><%:PCI%></div><div class="td"><%= self.status_data.pci %></div>
            <div class="td"><%:Arfcn%></div><div class="td"><%= self.status_data.arfcn %></div>
            <div class="td"><%:Rxlev%></div><div class="td"><%= self.status_data.rxlev %></div>
        </div>
        <div class="tr">
            <div class="td"><%:TAC%></div><div class="td"><%= self.status_data.tac %></div>
            <div class="td"><%:Rsrp%></div><div class="td"><%= self.status_data.rsrp %></div>
            <div class="td"><%:Rsrq%></div><div class="td"><%= self.status_data.rsrq %></div>
        </div>
    
	</div>
    <% end %>
</fieldset>
 
 